//- layout.pug
html
  head
    title #{title}
    block style
      link(rel='stylesheet', href='/public/assets/css/photos.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    block top
      #topnav
        //a(href='/')
        //  li.fa.fa-chevron-left
        //a(href='/upload') Upload photo
    block content
    block footer
