extends layout.pug

block content
  #main-user
    img.avatar(src="/public/assets/images/avatar.png")
    .user-name Sebastian Björkelid

  each photo in photos
    a(href='photo/' + photo.id)
      img(src=photo.get('thumbPath'))
