extends layout.pug

block content
  #title
      img.avatar(src="/public/assets/images/avatar.png")
      .user-name Sebastian Björkelid

  #photos
    each photo in photos
      #photo
        a(href='photo/' + photo.id)
          .darkshade 2016
          img(src=photo.get('thumbPath'))
